<!DOCTYPE html>

<!DOCTYPE html>
<html>

<head>
    <title>Todo List APP test</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: black;
            margin-right: 10px;
        }

        a:hover {
            color: red;
        }

        form {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }

        label {
            font-weight: bold;
        }

        input[type="text"] {
            width: 70%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 15px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <h1>This is my todo list</h1>
    <ul>
        <% todolist.forEach(function(todo, index) { %>
        <li>
            <a href="/todo/delete/<%= index %>">✘</a>
            <a href="/todo/<%= index %>">✎</a>
            <%- todo %>
        </li>
        <% }); %>
    </ul>

    <form action="/todo/add/" method="post">
        <p>
            <label for="newtodo">What should I do?</label>
            <input type="text" name="newtodo" id="newtodo" autofocus />
            <input type="submit" value="Add" />
        </p>
    </form>
</body>

</html>
